stitch_flask_vs_django_comparativa_directa/
tienda/
aspecto-flask-11.csv
Nelson - apoyo.txt
stitch_flask_vs_django_comparativa_directa.zip
tienda.zip
/JavaApplication3/nbproject/private/
/estructura_de_datos/nbproject/private/
/estructura_de_datos/build/
/estructura_de_datos/dist/
